.contact {
  padding-top: 16px;
  &__phone {
    margin-left: 24px;
  }
}

.nav-link {
  padding-right: 0 !important;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 75% !important;
}

.hero {
  &__content {
    height: 632px;
  }
  &__title {
    margin-bottom: 55px;
  }
  &__imgbox {
    height: 632px;
  }
}

.products {
  &__title {
    margin: 101px 0 71px 0;
  }
  &__cardtitle {
    margin: 13px 0 12px 0;
  }
  &__cardtext {
    margin-bottom: 29px;
  }
  &__trailer {
    margin-bottom: 192px;
  }
}

.cta {
  height: 536px;
  &__content {
    width: 28%;
  }
  &__form {
    width: 100%;
  }
  &__input {
    width: 75%;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 58px;
  }
}

.footer {
  height: 216px;
  &__text {
    margin-left: 30px;
  }
}

.copyright {
  height: 104px;
}

.copyright p {
  margin: 0;
}

// Product page

.main {
  margin-top: 96px;
  &__imgcarousel {
    height: 752px;
  }
  &__content p {
    margin-top: 28px;
  }
}

.product {
  &__nav {
    margin: 77px 0 38px 0;
  }
  &__navitem {
    display: inline-block;
    margin-right: 36px;
    cursor: pointer;
    &--nonactive {
      color: $darkgrey;
    }
  }
}

.hidden {
  display: none;
}
