.contact {
  padding-top: 16px;
  &__phone {
    margin-left: 24px;
  }
}

.nav-link {
  padding-right: 0 !important;
  padding-left: 30px !important;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.sticky-top {
  opacity: 0.75;
}

.hero {
  &__content {
    height: 632px;
  }
  &__title {
    margin-bottom: 55px;
  }
  &__imgbox {
    height: 632px;
  }
}

.products {
  &__title {
    margin-top: 101px;
  }
}

.cta {
  height: 536px;
  &__content {
    width: 28%;
  }
  &__form {
    width: 100%;
  }
  &__input {
    width: 75%;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 58px;
  }
}

.footer {
  height: 216px;
  &__text {
    margin-left: 30px;
  }
}

.copyright {
  height: 104px;
}

.copyright p {
  margin: 0;
}

// Product page

.main {
  margin-top: 96px;
  &__imgcarousel {
    height: 752px;
  }
  &__content p {
    margin-top: 28px;
  }
}

.hidden {
  display: none;
}

.discount {
  &__container {
    width: 71%;
  }
  &__title {
    margin: 77px 0 71px 0;
  }
  &__card {
    width: 38%;
    height: 416px;
  }
  &__textbox {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__plus {
    margin: 0 88px;
  }
  &__footer {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 92px;
    & h3 {
      margin-right: 26px;
    }
  }
}
