.bttn {
  border: 1px solid $grey;
  color: $almostblack;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding: 16px 70px;
  border-radius: 7px;

  &__pickdate,
  &__book {
    width: 248px;
    padding: 16px 0;
    margin-top: 19px;
  }
}

.bttn:hover {
  background-color: $green;
  border: 1px solid $green;
  transform: translateY(-2px);
  transition: all 300ms ease-in-out;
}

.cta {
  &__btn {
    background-color: $beige;
    width: 24%;
    padding: 13px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: $darkgrey;
    border: none;
    border-radius: 0 7px 7px 0;
    margin: 0;
  }
}

.cta__btn:hover {
  background-color: $almostblack;
  color: $offwhite;
  transition: all 300ms ease-in-out;
}

.products {
  &__btn {
    padding: 13px 30px;
  }
}

.disabled {
  border: 1px solid $lightgrey;
  color: $lightgrey;
}

.disabled:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid $lightgrey;
  transform: none;
}
