.ui-datepicker-calendar,
.ui-datepicker-inline {
  width: 100%;
  border: none !important;
}

.ui-datepicker {
  border: none;
  background: url("/assets/images/calendar-bg.svg");
}

.ui-datepicker-header {
  background: none;
  border: none;
  padding-top: 50px !important;
}

.ui-datepicker-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700 !important;
  color: $almostblack;
}

.ui-datepicker th {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700 !important;
  color: $almostblack;
}

.ui-state-default {
  border: none !important;
  height: 56px;
  background: $white !important;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700 !important;
  color: $almostblack !important;
}

.ui-state-active {
  background: $green !important;
  color: $white !important;
}

.ui-datepicker-unselectable {
  opacity: 1 !important;
}

.ui-datepicker td a,
.ui-datepicker td span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-datepicker td span {
  background: $white !important;
  color: $beige !important;
  border: 1px solid $beige !important;
}

.ui-datepicker td a {
  border: 3px solid $green !important;
}
