.carousel,
.carousel--t,
.carousel--img {
  position: relative;
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.slider,
.slider--t,
.slider--img {
  display: flex;
  transition: all 0.3s;
}

.products {
  &__card {
    margin: 0 50px;
    width: 336px;
  }
}

.products__card--t {
  margin: 0 50px;
  width: 336px;
}

.imgC {
  width: 696px;
  height: 600px;
  margin: 30px;
}

.controls .arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.arrow.left,
.arrow.left--t,
.arrow.left--img {
  left: 1%;
}

.arrow.right,
.arrow.right--t,
.arrow.right--img {
  right: 1%;
}

.thumbnail {
  width: 120px;
  height: 120px;
  border: 1px solid $darkgrey;
  border-radius: 3px;
}

.thumbnail--active {
  border: 3px solid $green;
}
