.slider {
  height: 536px;
  max-width: 82%;
  margin: 0 auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

.products {
  &__card {
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 34%;
    transition: transform 1s;
  }
}

.imgC {
  width: 696px;
  height: 600px;
  margin: 30px;
}

.controls .arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 10;
}

.arrow.left,
.arrow.left--img {
  left: 6%;
  transform: translate(-50%, -50%);
}

.arrow.right,
.arrow.right--img {
  right: 6%;
  transform: translate(50%, -50%);
}

.thumbnail {
  width: 120px;
  height: 120px;
  border: 1px solid $darkgrey;
  border-radius: 3px;
  cursor: pointer;
}

.thumbnail--active {
  border: 3px solid $green;
}
