.bold {
  font-weight: 700;
}

.line-through {
  text-decoration: line-through;
}

p,
.footer__text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 26px;
}

.products {
  &__cardtext p {
    font-size: 16px;
  }
}

h1 {
  font-size: 56px;
  line-height: 68px;
}

h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: $almostblack;
}

.contact {
  &__text {
    font-family: "Roboto", sans-serif;
    color: $darkgrey;
  }
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.copyright {
  color: white;
}
